body{
text-align: center;

    justify-content: center;

    align-items: center;

   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    background-color: rgb(3, 29, 65);

    color: rgb(243, 137, 137);

}